.page-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 20vw;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: #002743;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3rem;
    text-align: center;
  }

  .results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem;
    margin-left: 20vw;

    .results {
      display: flex;
      padding: 1rem;
      width: 60%;
      flex-direction: column;
      background-color: white;
      color: #002743;

      h2 {
        font-size: 2.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
        text-align: left;
      }

      p {
        font-size: 1.3rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
        width: 80%;
        text-align: left;
        color: #002743;
        background: #f1f1f1;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      }
    }

    .results-right {
      display: flex;
      flex-direction: column;

      .results-images {
        display: flex;
        margin-top: 8rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100%;
        width: 60%;

        img {
          border-radius: 0;
          width: 100%;
        }
      }

      .results-description {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        height: 2rem;

        .category-1-HC {
          background-color: #1a535c;
        }

        .category-2-C {
          background-color: #4ecdc4;
        }

        .category-3-B {
          background-color: #ff6b6b;
        }

        .category-4-A {
          background-color: #ffe66d;
        }

        .category-5-Premium {
          background-color: #ff165d;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .results-container {
      flex-direction: column;
      padding: 4rem;
      margin-left: 0;

      .results {
        width: 100%;
        h2 {
          margin-top: -7rem;
          font-size: 1.5rem;
          text-align: center;
        }

        p {
          font-size: 1.5rem;
          width: 100%;
        }
      }

      .results-right {
        flex-direction: column;

        .results-description {
          flex-direction: column;
          width: 100%;
        }

        .results-images {
          display: none;
        }
      }
    }
  }
}
